.producto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}
/*texto del producto*/
.texto-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*boton de comprar*/
.button-buy {
  color: #fdeff4;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 30px;
  height: 30px;
  border-radius: 20%;
  color: #fdeff4;
  text-transform: uppercase;
  /* border: 2px solid #524a4e; */
  background: rgb(255, 92, 141);
  width: 150px;
  flex-direction: column;
}

.span-comprar:hover{
  background-color: #FDEFF4 ;
  color: #FF5C8D ;
  cursor:pointer;
}
/*Media queries*/
@media screen and (max-width: 599px) {
  .producto {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }
  .producto > img {
    flex-direction: column;
    width: 80%;
    height: 80%;
  }

  .span-comprar:hover{
    background-color: #FDEFF4 ;
    color: #FF5C8D ;
    cursor:pointer;
}
}
