header{
    display: flex;
    flex-direction: column;
    background-image: url(../img/header-logo.jpg);
}
header div{
    /* imagen de fondo */
    /* formato del h1 */
    text-align: center;
}
header div + div*{
    display: inline;
}
header li{
    display: inline;
    float: right;
    margin: 0 15px;
}


/* footer */
footer{
    display: flex;
    justify-content: center;

}
footer li{
    display: inline;
}