header{
    display: flex;
    flex-direction: column;
    background-image: url(../img/header-logo.jpg);
}
header div{
    /* imagen de fondo */
    /* formato del h1 */
    text-align: center;
}
header div + div*{
    display: inline;
}
header li{
    display: inline;
    float: right;
    margin: 0 15px;
}
.product-slide{
    background-color: #FDEFF4;
    /* temporal height */
    height: 400px;
}
.product-featured{
    background-color: #FFC0D3;
    /* temporal height */
    height: 400px;
}
.product-new{
    background-color: #FDEFF4;
    /* temporal height */
    height: 400px;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #FF5C8D;

}
footer li{
    display: inline;
}

/*Media queries*/